#body {
  display : flex;
  flex-flow : row wrap;
  background-color : #b7ea69;
  color : #681b84;
  border-color : #681b84;
}

#button {
  color : #681b84;
  background-color : #b7ea69;
  border-radius : 25px;
}

#whiteButton {
  color : #681b84;
  background-color : #b7ea69;
  border-radius : 15px 50px;
}

#blackButton {
  color : #681b84;
  background-color : #b7ea69;
  border-radius : 50px 15px;
}

#pauseButton {
  color : #681b84;
  background-color : #b7ea69;
  border-radius : 15px 50px;
}

#resetButton {
  color : #681b84;
  background-color : #b7ea69;
  border-radius : 50px 15px;
}

#timeConfiguration {
  font-size : 225%;
  flex : 1;
  align-self : center;
  text-align : center;

  border-style : double;
  border-radius : 25px;
  border-width : 10px;
  background-color : #b67fca;
  padding : 5px;
  color : #b7ea69;
}

#whitePlayer {
  font-size : 225%;
  flex : 0 1 32%; 
  align-self : center; 
  text-align : left;
  min-height : 80px;

  border-style : double;
  border-radius : 15px 50px;
  border-width : 10px;
  background-color : #b67fca;
  padding : 10px;
  color : #b7ea69;

}

#blackPlayer {
  font-size : 225%;
  flex : 0 1 32%; 
  align-self : center; 
  text-align : right;
  min-height : 80px;

  border-style : double;
  border-radius : 50px 15px;
  border-width : 10px;
  background-color : #b67fca;
  padding : 10px;
  color : #b7ea69;

}

#appMessage {
  flex : 0 1 100%;
  text-align : center;
}

