<!doctype html>
<html ng-app='app'>
  <head>
    <meta charset=UTF-8>
    <title>chessTimer</title>
  </head>
  <body>
    <div id='whitePlayer'>
      <div ng-controller="whiteCtrl">
        <input type="button" value="WHITE"/>
        {{whiteTime}}
      </div>
    </div>

    <div id='timeConfiguration'>

    <div ng-controller='mainCtrl'>

      <div>
        <input type="button" ng-click="addHour()" value="+h"/>
        <input type="button" ng-click="addMinute()" value="+m"/>
        <input type="button" ng-click="addSecond()" value="+s"/>
      </div>

      {{menuTime}}

      <div>
        <input type="button" ng-click="removeHour()" value="-h"/>
        <input type="button" ng-click="removeMinute()" value="-m"/>
        <input type="button" ng-click="removeSecond()" value="-s"/>
      </div>
    </div>  
    </div>

    <div id='blackPlayer'>
      <div ng-controller="blackCtrl">
        {{blackTime}}
        <input type="button" value="BLACK"/>
      </div>
    </div>
  <script src="bundle.js"></script>
  </body>
</html>
