<!DOCTYPE html>
<html>
  <head>
    <link href="index.css" type="text/css" rel="stylesheet">
    <meta charset=UTF-8>
    <title>chessTimer</title>
  </head>

  <body id='body' ng-app='app' ng-controller='appCtrl'>

    <div id='whitePlayer' ng-controller="whiteCtrl">
      <input type="button" ng-click="startGame()" value="WHITE"/>
      {{whiteTime}}
    </div>

    <div id='timeConfiguration' ng-controller='menuCtrl'>
      <div>
        <input type="button" ng-click="addHour()" value="+h"/>
        <input type="button" ng-click="addMinute()" value="+m"/>
        <input type="button" ng-click="addSecond()" value="+s"/>
      </div>
      {{menuTime}}
      <div>
        <input type="button" ng-click="removeHour()" value="-h"/>
        <input type="button" ng-click="removeMinute()" value="-m"/>
        <input type="button" ng-click="removeSecond()" value="-s"/>
      </div>
      <div>
        <input type="button" ng-click="pause()" value="Pause"/>
        <input type="button" ng-click="reset()" value="Reset"/>       
      </div>
    </div>

    <div id='blackPlayer' ng-controller="blackCtrl">
      {{blackTime}}
      <input type="button" value="BLACK"/>
    </div>

  <script src="angular.js"></script>
  <script src="app.js"></script>

  <script src="services/app.js"></script>
  <script src="services/timerMaker.js"></script>
  <script src="services/menu.js"></script>
  <script src="services/white.js"></script>
  <script src="services/black.js"></script>

  <script src="controllers/menu.js"></script>
  <script src="controllers/white.js"></script>
  <script src="controllers/black.js"></script>
  <script src="controllers/app.js"></script>
  </body>
</html>

