#body {
  display : flex;
  flex-flow : row wrap;
  background-color : #ffcc66;
}

#timeConfiguration {
  font-size : 225%;
  flex : 1;
  color : green;
  border-style : double;
  border-width : 5px;
  border-color : blue;
}

#whitePlayer {
  font-size : 225%;
  flex : 0 1 320px; 
  border-style : double;
  border-width : 5px;
  border-color : blue;
}

#blackPlayer {
  font-size : 225%;
  flex : 0 1 320px; 
  border-style : double;
  border-width : 5px;
  border-color : blue;
}

#appMessage {
  flex : 0 1 100%
}

